{% extends "admin/change_list.html" %}

{% block extrahead %}
    <style>
        table.containers {
            border: none!important;
        }

        table.containers * {
            border: none!important;
            padding: 0;
            padding-right: 10px;
        }
    </style>
{% endblock %}

{% block object-tools %}
        <ul class="tools">
            {% block object-tools-items %}
            <li><a href="/pes/updateranking" class="focus">Aggiorna ranking</a></li>
            {% endblock %}
        </ul>
{% endblock %}
